<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FitMate - Your AI Fitness Trainer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to FitMate</h1>
        <p>Your AI-powered fitness trainer</p>
    </header>
    
    <div class="container">
        <div class="exercise-card" onclick="location.href='/pushup'">
            <img src="{{ url_for('static', filename='images/pushup.png') }}"height=200  alt="Pushup">
            <h2>Pushup</h2>
        </div>
        <div class="exercise-card" onclick="location.href='/squat'">
            <img src="{{ url_for('static', filename='images/squat.png') }}"height=200 alt="Squat">
            <h2>Squat</h2>
        </div>
        <div class="exercise-card" onclick="location.href='/plank'">
            <img src="{{ url_for('static', filename='images/plank.png') }}"height=200  alt="Plank">
            <h2>Plank</h2>
        </div>
        <div class="exercise-card" onclick="location.href='/shoulder_press'">
            <img src="{{ url_for('static', filename='images/shoulder_press.png') }}" height=200  alt="Shoulder Press">
            <h2>Shoulder Press</h2>
        </div>
        
    </div>

</body>
</html>
